.DS_Store*
.ipynb_checkpoints/**
*.venv/**
*.log
*.out
.vscode/**
output/**
!output/readme figures
figures/**
**/__pycache__/**
**/.ipynb_checkpoints
**/data/Der Weltkrieg v8 Chap 4F (in Fraktur)
*.ipynb
*.env

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore uploads and cropped images
**/data/uploads/
data/cropped/

