**/.DS_Store*
.ipynb_checkpoints/**
*.venv/**
*.log
*.out
.vscode/**
input_data/**
output_data/**
!output_data/Der Weltkrieg v*
!output_data/Der Weltkrieg v*/*.docx
!output_data/readme_figures
!output_data/*/*.json
figures/**
**/__pycache__/**
**/.ipynb_checkpoints
**/input_data/Der Weltkrieg v8 Chap 4F (in Fraktur)
*.ipynb
**/.env
**/.aider*
