**/.DS_Store*
.ipynb_checkpoints/**
*.venv/**
*.log
*.out
.vscode/**
output_data/**
input_data/**
!output_data/readme_figures
figures/**
**/__pycache__/**
**/.ipynb_checkpoints
**/input_data/Der Weltkrieg v8 Chap 4F (in Fraktur)
*.ipynb
**/.env
**/.aider*
